.footer {
    margin-top: 160px;
    background: #F8F8F8;
    padding: 56px 0;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__socials {
        display: flex;
        gap: 20px;
    }

    &__link {

        i {
            font-size: 24px;
            color: #000;
            transition: all 0.3s ease;

            &:hover {
                color: #FF7500;
                opacity: 80%;
            }

            &:active {
                color: #FF7500;
                opacity: 60%;
            }
        }
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
        border: 2px solid #25242080;
        opacity: 50%;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__links {
        color: #000;
        transition: all 0.3s ease;

        &:hover {
            color: #FF7500;
            opacity: 80%;
        }

        &:active {
            color: #FF7500;
            opacity: 60%;
        }
    }
}