.hero {
    background: #252420;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    &__left {
        width: 387px;
        height: 328px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        hr {
            width: 80px;
            background: #FF7500;
            height: 3px;
            opacity: 1;
        }
    }

    &__title,
    &__text {
        color: #fff;
    }

    &__link {
        padding: 12px 24px;
        background: #FF7500;
        color: #fff;
        width: 165px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}